/*===== Toaster  =====*/
#toast-container{
  margin-top: 65px;
  z-index: 999;
  .toast-success {
    opacity: 1;
  }
}
#toast-container>div{
  box-shadow: none;
}
#toast-container>div:hover{
  box-shadow: none;
}

html:dir(rtl) #toast-container{
  left:15px;
  right:unset;
}
html:dir(ltr) #toast-container{
  left: unset;
  right:15px;
}
